In [32]:
#Importing the googleapiclient library and build module

import googleapiclient
from googleapiclient.discovery import build
from pprint import pprint
import pymongo
from pymongo.mongo_client import MongoClient
from pymongo.server_api import ServerApi 
import mysql.connector as mysql
import pandas as pd 
import datetime
import isodate
import streamlit as st

In [27]:
#Creating a function to connect the api service and key throughout the program

def api_connection():
       api_service_name = "youtube"
       api_version = "V3"
       api_key = "AIzaSyBW5i8vq6m3lWELwntKFaOLHBCa9oQqN0w"

       youtube = build(api_service_name,api_version,developerKey=api_key)
       return youtube

In [28]:
'''Creating a variable called youtube_call and asign the api_connection function to it 
   By assigning that we can call the function whenever we want by  running that variable
'''
youtube_call = api_connection()
#youtube_call

In [29]:

#Creatint a function called channel_details which contains channel id,name, description,playlist, views and video counts etc..

def get_channel_details(channel_id):
# Requesting the channel to provide CHANNEL DETAILS where it contains parts like id,snippet,startistics,content details

      request = youtube_call.channels().list(
           id = channel_id,
           part = "snippet,statistics,contentDetails"
          )
      response = request.execute()
 #Creating a for loop to access all the  requri
      for i in response["items"]:
        data = dict(
            channel_title = i["snippet"]["title"],
            channel_id= i["id"],
            channel_subscribers = i["statistics"]['subscriberCount'],
            channel_viewcount = i["statistics"]["viewCount"],
            channel_videocount = i["statistics"]["videoCount"],
            channel_description = i["snippet"]["description"],
            channel_playlistid = i["contentDetails"]["relatedPlaylists"]["uploads"]
            )
        
      return data

In [31]:
'''Creating a variable called channel_detail_call and assigning the channel_detail functions into that variable to call
 whenever we want to use that function
 '''
channel_detail_call =get_channel_details("UCykSoHEAMVSU_w6ACWlxlzA")

In [32]:
channel_detail_call

{'channel_title': 'Octobit8',
 'channel_id': 'UCykSoHEAMVSU_w6ACWlxlzA',
 'channel_subscribers': '6',
 'channel_viewcount': '201',
 'channel_videocount': '18',
 'channel_description': '"OctoBit8: Your Tech Partner! Explore DevOps, Cloud, Data Science, Software Dev, IT Outsourcing, Staff Augmentation, and stay ahead in tech. Subscribe now! ðŸ’¡ðŸš€ #OctoBit8"',
 'channel_playlistid': 'UUykSoHEAMVSU_w6ACWlxlzA'}

In [75]:
#Now requesting the youtube to provide PLAYLIST Id from playlists()

def get_video_ids(playlist_ids):
      playlist_request = youtube_call.channels().list(
      part = "contentDetails",
      id = playlist_ids
      )
      playlist_response = playlist_request.execute()
      playlist_id = playlist_response["items"][0]["contentDetails"]["relatedPlaylists"]["uploads"]

      video_idlist = [] 

      #Creating a variable for pageToken and initilizing it with None
      next_page_token = None

      #This while loop runs until the pageToken becomes none and False , until that it get all the videos id form the playlist
      while True:
            #Now requesting the youtube to get video ids of the playlist from playlistItems()
            playlistItems_request = youtube_call.playlistItems().list(
                  part = "snippet,id",
                  playlistId = playlist_id,
                  maxResults = 50,
                  pageToken = next_page_token
            )
            playlistItem_response = playlistItems_request.execute()

            #To get all the videos id mention in the maxResults we are using for loop and appending that id's into the list
            for i in  range(len(playlistItem_response["items"])):
                  video_id = playlistItem_response["items"][i]["snippet"]["resourceId"]["videoId"]
                  video_idlist.append(video_id)
            next_page_token = playlistItem_response.get("nextPageToken")
            if next_page_token == None:
                  break
      return video_idlist

In [76]:
video_id_call = get_video_ids("UCnz-ZXXER4jOvuED5trXfEA")

In [77]:

video_id_call

['6lI0q2DV8DY',
 'nzJJP-uDIZc',
 'BNmoCYk58mU',
 'W5Wvyc9Pass',
 'oedv5lR3w_g',
 'HiscSRv7zWk',
 'PLN28d0PoFU',
 'GxmrInUIMAE',
 'D0-Qy7yk5TQ',
 'GHtX0QXfi6g',
 '0QcEqFrhb_Y',
 'smztq8sRAhk',
 '7skZzocEU6c',
 'LZGaRcDxj8I',
 'rBPQ5fg_kiY',
 'hvwltYazuQo',
 'a-hFbr-4VQQ',
 'pMNcPLc9Z7c',
 'zZKb8FQRShs',
 'jS5_hjFgfzA',
 '6UAU79FNBjQ',
 'ZwFfiadQB3k',
 'Det4ZjBSe3M',
 'xUsY2jWQa1w',
 'ueOUSjdAZY8',
 '90iK6gGvG_g',
 'hsaPfEvForM',
 'jb8XlF2dkoY',
 'WhkNQ3g0U64',
 '_suB8xV9aPc',
 'dWHSt0BVlv0',
 'xJVWL7eMir0',
 'h48xzQR3wNQ',
 'S5gX-LLAZIM',
 'LNlzx-YX8rI',
 'WzkBZ0byoYE',
 'weCZ1WynbMI',
 '3dOxGYkpVbE',
 '9dLXZrw6nac',
 'i3xK7Nc414Q',
 'H7YMumanHBA',
 '4p-G7fGhqRk',
 'yLR1w4tZ36I',
 '-DiOp9vAEuM',
 'O1o9m9T1c3k',
 '7hZYh9qXxe4',
 'aE623ff7zkM',
 'eXJGjbDo5KY',
 'O52sweYbCyI',
 'cLSxasHg9WY',
 'l6XhSFAyvO0',
 'nJIEIzF7tDw',
 'RehbnzKHS28',
 '0OQJDd3QqQM',
 'V6KPbGLYL4A',
 'OIqm909GYYo',
 'xN2PRAd8IZQ',
 'AK7_m-aThfw',
 'CYszyA2Xzdg',
 'wT9ICgxRPYY',
 'XruOBp7yPXU',
 'SwSbnmqk3zY',
 '8p_OzqIJ_p4',
 '0Hhqf8L-b_0',
 'M2NzvnfS-hI',
 'QNfnuK-1YYY',
 'PuBadaR8qC4',
 'FNYdBLwZ6cE',
 'zAmJPdZu8Rg',
 'HJAwAKwFX-A',
 'kY5HtrkjSj0',
 'LCVSmkyB4v8',
 '6x7vHXfRAP0',
 '-DrSbc8B0WI',
 'gsa1oFn9n0M',
 'Ww71knvhQ-s',
 'Jsnw6HLASZA',
 'V_BozMwoYe4',
 '0wjPsKDrYt8',
 '1-z9ptlBar4',
 '35dXEQJkFE8',
 'jgNB4GN1UaQ',
 'fhxByMe0mq8',
 '5bwpXLHzZRo',
 'UzOnFDmoJ9w',
 'HNChkuE6HyA',
 '2gFqUWO-AWM',
 'NvdSKgQcyuc',
 'BBb_duZIusU',
 'PRGkYivK2xI',
 'M323OL6K5vs',
 'i7BjHjRafU8',
 'r2asdRpr3uw',
 'Hl4NZB1XR9c',
 '1aybOgni7lI',
 'j09EQ-xlh88',
 '7nzTDrio7vY',
 'J-uCLHTIWZ4',
 '_BMPh5M4BIY']

In [36]:
len(video_id_call)

18

In [78]:
#Now going to get video details like video name, likes , dislikes count and others
def get_video_details(video_detailslist_id):
    video_detailslist = []
    for i in video_detailslist_id:
        video_request = youtube_call.videos().list(
            part = "id,snippet,contentDetails,statistics",
            id = i 
        )
        video_response = video_request.execute()
        for i in video_response["items"]:
            video_data = {
                "channel_title" : i["snippet"]["channelTitle"],
                "channel_id" : i["snippet"]["channelId"],
                "video_title" : i["snippet"]["title"],
                "video_id" : i["id"],
                "video_thumnails" : i["snippet"]["thumbnails"]["default"]["url"],
                "video_publishDate" : i["snippet"]["publishedAt"],
                "video_duration" : i["contentDetails"]["duration"],
                "video_view" : i["statistics"].get("viewCount",),
                "video_likes" : i["statistics"].get("likeCount"),
                "video_favorite" : i["statistics"].get("favoriteCount"),
                "video_comments" : i["statistics"].get("commentCount"),
                "video_captionStatus" : i["contentDetails"]["caption"]

            }
        video_detailslist.append(video_data)
    return video_detailslist

In [79]:
#Here video_d_call is the variable where we stored the video ids in a list in get_video_ids function
video_details_call = get_video_details(video_id_call)

In [80]:
video_details_call

[{'channel_title': 'techTFQ',
  'channel_id': 'UCnz-ZXXER4jOvuED5trXfEA',
  'video_title': 'SQL Cricket Match Problem | Solving SQL Interview Problem',
  'video_id': '6lI0q2DV8DY',
  'video_thumnails': 'https://i.ytimg.com/vi/6lI0q2DV8DY/default.jpg',
  'video_publishDate': '2023-10-18T14:44:40Z',
  'video_duration': 'PT16M8S',
  'video_view': '17154',
  'video_likes': '762',
  'video_favorite': '0',
  'video_comments': '60',
  'video_captionStatus': 'false'},
 {'channel_title': 'techTFQ',
  'channel_id': 'UCnz-ZXXER4jOvuED5trXfEA',
  'video_title': 'Solving an SQL Interview Problem | Find Child - Parent - Grandparent Hierarchy using SQL',
  'video_id': 'nzJJP-uDIZc',
  'video_thumnails': 'https://i.ytimg.com/vi/nzJJP-uDIZc/default.jpg',
  'video_publishDate': '2023-10-04T13:30:12Z',
  'video_duration': 'PT13M47S',
  'video_view': '22723',
  'video_likes': '729',
  'video_favorite': '0',
  'video_comments': '54',
  'video_captionStatus': 'false'},
 {'channel_title': 'techTFQ',
  'channel_id': 'UCnz-ZXXER4jOvuED5trXfEA',
  'video_title': 'From 16 years of CAREER GAP To becoming a Software Engineer | How to get a JOB after a career gap',
  'video_id': 'BNmoCYk58mU',
  'video_thumnails': 'https://i.ytimg.com/vi/BNmoCYk58mU/default.jpg',
  'video_publishDate': '2023-09-21T13:00:15Z',
  'video_duration': 'PT24M28S',
  'video_view': '13093',
  'video_likes': '380',
  'video_favorite': '0',
  'video_comments': '76',
  'video_captionStatus': 'false'},
 {'channel_title': 'techTFQ',
  'channel_id': 'UCnz-ZXXER4jOvuED5trXfEA',
  'video_title': '3 SQL Queries Asked in Interview for Business Analyst - Solved',
  'video_id': 'W5Wvyc9Pass',
  'video_thumnails': 'https://i.ytimg.com/vi/W5Wvyc9Pass/default.jpg',
  'video_publishDate': '2023-09-13T13:00:23Z',
  'video_duration': 'PT36M27S',
  'video_view': '33501',
  'video_likes': '1212',
  'video_favorite': '0',
  'video_comments': '80',
  'video_captionStatus': 'false'},
 {'channel_title': 'techTFQ',
  'channel_id': 'UCnz-ZXXER4jOvuED5trXfEA',
  'video_title': 'Courses You Can Take To Get Into Data Analytics',
  'video_id': 'oedv5lR3w_g',
  'video_thumnails': 'https://i.ytimg.com/vi/oedv5lR3w_g/default.jpg',
  'video_publishDate': '2023-09-02T13:00:12Z',
  'video_duration': 'PT6M59S',
  'video_view': '20366',
  'video_likes': '465',
  'video_favorite': '0',
  'video_comments': '72',
  'video_captionStatus': 'false'},
 {'channel_title': 'techTFQ',
  'channel_id': 'UCnz-ZXXER4jOvuED5trXfEA',
  'video_title': 'Solving a Real SQL Interview Problem | Job Vacancies SQL Query',
  'video_id': 'HiscSRv7zWk',
  'video_thumnails': 'https://i.ytimg.com/vi/HiscSRv7zWk/default.jpg',
  'video_publishDate': '2023-08-25T13:00:09Z',
  'video_duration': 'PT16M57S',
  'video_view': '43033',
  'video_likes': '1534',
  'video_favorite': '0',
  'video_comments': '130',
  'video_captionStatus': 'false'},
 {'channel_title': 'techTFQ',
  'channel_id': 'UCnz-ZXXER4jOvuED5trXfEA',
  'video_title': 'Python Bootcamp for Beginners | Python Course | Live Training',
  'video_id': 'PLN28d0PoFU',
  'video_thumnails': 'https://i.ytimg.com/vi/PLN28d0PoFU/default.jpg',
  'video_publishDate': '2023-08-20T08:17:01Z',
  'video_duration': 'PT54S',
  'video_view': '5593',
  'video_likes': '221',
  'video_favorite': '0',
  'video_comments': '35',
  'video_captionStatus': 'false'},
 {'channel_title': 'techTFQ',
  'channel_id': 'UCnz-ZXXER4jOvuED5trXfEA',
  'video_title': 'SQL Data Analytics Project (PART 3) | Data Analyst Portfolio Project',
  'video_id': 'GxmrInUIMAE',
  'video_thumnails': 'https://i.ytimg.com/vi/GxmrInUIMAE/default.jpg',
  'video_publishDate': '2023-08-19T13:14:46Z',
  'video_duration': 'PT39M28S',
  'video_view': '9473',
  'video_likes': '330',
  'video_favorite': '0',
  'video_comments': '36',
  'video_captionStatus': 'false'},
 {'channel_title': 'techTFQ',
  'channel_id': 'UCnz-ZXXER4jOvuED5trXfEA',
  'video_title': 'SQL Data Analytics Project (PART 2) | Data Analyst Portfolio Project',
  'video_id': 'D0-Qy7yk5TQ',
  'video_thumnails': 'https://i.ytimg.com/vi/D0-Qy7yk5TQ/default.jpg',
  'video_publishDate': '2023-08-06T13:00:08Z',
  'video_duration': 'PT44M14S',
  'video_view': '15132',
  'video_likes': '428',
  'video_favorite': '0',
  'video_comments': '52',
  'video_captionStatus': 'false'},
 {'channel_title': 'techTFQ',
  'channel_id': 'UCnz-ZXXER4jOvuED5trXfEA',
  'video_title': 'SQL Data Analytics Project (PART 1) | Data Analyst Portfolio Project',
  'video_id': 'GHtX0QXfi6g',
  'video_thumnails': 'https://i.ytimg.com/vi/GHtX0QXfi6g/default.jpg',
  'video_publishDate': '2023-08-04T13:00:11Z',
  'video_duration': 'PT35M49S',
  'video_view': '77647',
  'video_likes': '2359',
  'video_favorite': '0',
  'video_comments': '168',
  'video_captionStatus': 'false'},
 {'channel_title': 'techTFQ',
  'channel_id': 'UCnz-ZXXER4jOvuED5trXfEA',
  'video_title': 'Learn SQL from me | Live SQL Training | SQL Bootcamp',
  'video_id': '0QcEqFrhb_Y',
  'video_thumnails': 'https://i.ytimg.com/vi/0QcEqFrhb_Y/default.jpg',
  'video_publishDate': '2023-05-25T14:35:13Z',
  'video_duration': 'PT9M51S',
  'video_view': '23223',
  'video_likes': '642',
  'video_favorite': '0',
  'video_comments': '180',
  'video_captionStatus': 'false'},
 {'channel_title': 'techTFQ',
  'channel_id': 'UCnz-ZXXER4jOvuED5trXfEA',
  'video_title': 'Learn Python here | Learn Python Programming here',
  'video_id': 'smztq8sRAhk',
  'video_thumnails': 'https://i.ytimg.com/vi/smztq8sRAhk/default.jpg',
  'video_publishDate': '2023-05-16T13:45:59Z',
  'video_duration': 'PT6M30S',
  'video_view': '15221',
  'video_likes': '280',
  'video_favorite': '0',
  'video_comments': '25',
  'video_captionStatus': 'false'},
 {'channel_title': 'techTFQ',
  'channel_id': 'UCnz-ZXXER4jOvuED5trXfEA',
  'video_title': 'Solving a Complex SQL Interview problem | Practice SQL Queries',
  'video_id': '7skZzocEU6c',
  'video_thumnails': 'https://i.ytimg.com/vi/7skZzocEU6c/default.jpg',
  'video_publishDate': '2023-03-21T13:00:12Z',
  'video_duration': 'PT32M9S',
  'video_view': '42927',
  'video_likes': '1218',
  'video_favorite': '0',
  'video_comments': '112',
  'video_captionStatus': 'false'},
 {'channel_title': 'techTFQ',
  'channel_id': 'UCnz-ZXXER4jOvuED5trXfEA',
  'video_title': 'REAL SQL Interview Problem | Hierarchical data in SQL',
  'video_id': 'LZGaRcDxj8I',
  'video_thumnails': 'https://i.ytimg.com/vi/LZGaRcDxj8I/default.jpg',
  'video_publishDate': '2023-03-14T13:00:09Z',
  'video_duration': 'PT22M9S',
  'video_view': '24617',
  'video_likes': '904',
  'video_favorite': '0',
  'video_comments': '65',
  'video_captionStatus': 'false'},
 {'channel_title': 'techTFQ',
  'channel_id': 'UCnz-ZXXER4jOvuED5trXfEA',
  'video_title': 'Complete guide to Database Normalization in SQL',
  'video_id': 'rBPQ5fg_kiY',
  'video_thumnails': 'https://i.ytimg.com/vi/rBPQ5fg_kiY/default.jpg',
  'video_publishDate': '2023-03-07T13:00:07Z',
  'video_duration': 'PT40M51S',
  'video_view': '78090',
  'video_likes': '3386',
  'video_favorite': '0',
  'video_comments': '267',
  'video_captionStatus': 'false'},
 {'channel_title': 'techTFQ',
  'channel_id': 'UCnz-ZXXER4jOvuED5trXfEA',
  'video_title': 'SQL Live class on Lighthall | Learn SQL from Basic to Advance in SQL Bootcamp',
  'video_id': 'hvwltYazuQo',
  'video_thumnails': 'https://i.ytimg.com/vi/hvwltYazuQo/default.jpg',
  'video_publishDate': '2023-01-26T07:00:07Z',
  'video_duration': 'PT6M46S',
  'video_view': '13186',
  'video_likes': '257',
  'video_favorite': '0',
  'video_comments': '152',
  'video_captionStatus': 'false'},
 {'channel_title': 'techTFQ',
  'channel_id': 'UCnz-ZXXER4jOvuED5trXfEA',
  'video_title': 'How to learn SQL for free | Roadmap to learning SQL',
  'video_id': 'a-hFbr-4VQQ',
  'video_thumnails': 'https://i.ytimg.com/vi/a-hFbr-4VQQ/default.jpg',
  'video_publishDate': '2022-12-28T13:00:10Z',
  'video_duration': 'PT27M20S',
  'video_view': '509564',
  'video_likes': '15110',
  'video_favorite': '0',
  'video_comments': '437',
  'video_captionStatus': 'false'},
 {'channel_title': 'techTFQ',
  'channel_id': 'UCnz-ZXXER4jOvuED5trXfEA',
  'video_title': 'Solving an SQL Interview Problem',
  'video_id': 'pMNcPLc9Z7c',
  'video_thumnails': 'https://i.ytimg.com/vi/pMNcPLc9Z7c/default.jpg',
  'video_publishDate': '2022-12-18T13:39:48Z',
  'video_duration': 'PT27S',
  'video_view': '42456',
  'video_likes': '1674',
  'video_favorite': '0',
  'video_comments': '21',
  'video_captionStatus': 'false'},
 {'channel_title': 'techTFQ',
  'channel_id': 'UCnz-ZXXER4jOvuED5trXfEA',
  'video_title': 'Solving SQL Interview Query | Find Tree Node type using SQL',
  'video_id': 'zZKb8FQRShs',
  'video_thumnails': 'https://i.ytimg.com/vi/zZKb8FQRShs/default.jpg',
  'video_publishDate': '2022-12-12T13:30:15Z',
  'video_duration': 'PT9M43S',
  'video_view': '22215',
  'video_likes': '935',
  'video_favorite': '0',
  'video_comments': '54',
  'video_captionStatus': 'false'},
 {'channel_title': 'techTFQ',
  'channel_id': 'UCnz-ZXXER4jOvuED5trXfEA',
  'video_title': 'Solving SQL Interview Query for Data Analyst asked by a Product based company',
  'video_id': 'jS5_hjFgfzA',
  'video_thumnails': 'https://i.ytimg.com/vi/jS5_hjFgfzA/default.jpg',
  'video_publishDate': '2022-12-07T13:25:28Z',
  'video_duration': 'PT18M37S',
  'video_view': '467250',
  'video_likes': '10483',
  'video_favorite': '0',
  'video_comments': '312',
  'video_captionStatus': 'false'},
 {'channel_title': 'techTFQ',
  'channel_id': 'UCnz-ZXXER4jOvuED5trXfEA',
  'video_title': 'Solving a tricky SQL Interview Query',
  'video_id': '6UAU79FNBjQ',
  'video_thumnails': 'https://i.ytimg.com/vi/6UAU79FNBjQ/default.jpg',
  'video_publishDate': '2022-11-21T13:00:04Z',
  'video_duration': 'PT19M24S',
  'video_view': '46065',
  'video_likes': '1588',
  'video_favorite': '0',
  'video_comments': '127',
  'video_captionStatus': 'false'},
 {'channel_title': 'techTFQ',
  'channel_id': 'UCnz-ZXXER4jOvuED5trXfEA',
  'video_title': 'SQL Interview Query for Data Analyst',
  'video_id': 'ZwFfiadQB3k',
  'video_thumnails': 'https://i.ytimg.com/vi/ZwFfiadQB3k/default.jpg',
  'video_publishDate': '2022-11-14T13:00:17Z',
  'video_duration': 'PT29M51S',
  'video_view': '52204',
  'video_likes': '1843',
  'video_favorite': '0',
  'video_comments': '76',
  'video_captionStatus': 'false'},
 {'channel_title': 'techTFQ',
  'channel_id': 'UCnz-ZXXER4jOvuED5trXfEA',
  'video_title': 'Solving a Complex SQL Interview Problem | Find the Most Modified File Extension',
  'video_id': 'Det4ZjBSe3M',
  'video_thumnails': 'https://i.ytimg.com/vi/Det4ZjBSe3M/default.jpg',
  'video_publishDate': '2022-10-31T13:00:16Z',
  'video_duration': 'PT22M30S',
  'video_view': '26456',
  'video_likes': '1012',
  'video_favorite': '0',
  'video_comments': '76',
  'video_captionStatus': 'false'},
 {'channel_title': 'techTFQ',
  'channel_id': 'UCnz-ZXXER4jOvuED5trXfEA',
  'video_title': 'SQL JOINS Interview Question | What does different SQL Joins return?',
  'video_id': 'xUsY2jWQa1w',
  'video_thumnails': 'https://i.ytimg.com/vi/xUsY2jWQa1w/default.jpg',
  'video_publishDate': '2022-10-24T13:30:12Z',
  'video_duration': 'PT25M17S',
  'video_view': '288004',
  'video_likes': '8777',
  'video_favorite': '0',
  'video_comments': '436',
  'video_captionStatus': 'false'},
 {'channel_title': 'techTFQ',
  'channel_id': 'UCnz-ZXXER4jOvuED5trXfEA',
  'video_title': 'Google SQL Interview Problem | Solving SQL Interview Query',
  'video_id': 'ueOUSjdAZY8',
  'video_thumnails': 'https://i.ytimg.com/vi/ueOUSjdAZY8/default.jpg',
  'video_publishDate': '2022-10-10T13:00:28Z',
  'video_duration': 'PT14M22S',
  'video_view': '35476',
  'video_likes': '1323',
  'video_favorite': '0',
  'video_comments': '129',
  'video_captionStatus': 'false'},
 {'channel_title': 'techTFQ',
  'channel_id': 'UCnz-ZXXER4jOvuED5trXfEA',
  'video_title': 'SQL Interview Problem asked by Product Based Company | Solving SQL Interview Query',
  'video_id': '90iK6gGvG_g',
  'video_thumnails': 'https://i.ytimg.com/vi/90iK6gGvG_g/default.jpg',
  'video_publishDate': '2022-10-05T13:13:21Z',
  'video_duration': 'PT9M22S',
  'video_view': '57546',
  'video_likes': '2178',
  'video_favorite': '0',
  'video_comments': '136',
  'video_captionStatus': 'false'},
 {'channel_title': 'techTFQ',
  'channel_id': 'UCnz-ZXXER4jOvuED5trXfEA',
  'video_title': 'How to become a Data Analyst FASTER ?',
  'video_id': 'hsaPfEvForM',
  'video_thumnails': 'https://i.ytimg.com/vi/hsaPfEvForM/default.jpg',
  'video_publishDate': '2022-09-30T13:44:54Z',
  'video_duration': 'PT16M20S',
  'video_view': '96165',
  'video_likes': '4047',
  'video_favorite': '0',
  'video_comments': '189',
  'video_captionStatus': 'false'},
 {'channel_title': 'techTFQ',
  'channel_id': 'UCnz-ZXXER4jOvuED5trXfEA',
  'video_title': 'Tricky SQL Interview Query | Practice Solving SQL Interview Queries',
  'video_id': 'jb8XlF2dkoY',
  'video_thumnails': 'https://i.ytimg.com/vi/jb8XlF2dkoY/default.jpg',
  'video_publishDate': '2022-09-22T13:00:26Z',
  'video_duration': 'PT12M34S',
  'video_view': '29368',
  'video_likes': '887',
  'video_favorite': '0',
  'video_comments': '101',
  'video_captionStatus': 'false'},
 {'channel_title': 'techTFQ',
  'channel_id': 'UCnz-ZXXER4jOvuED5trXfEA',
  'video_title': 'Solving SQL Interview Query using a "VERY IMPORTANT SQL concept"',
  'video_id': 'WhkNQ3g0U64',
  'video_thumnails': 'https://i.ytimg.com/vi/WhkNQ3g0U64/default.jpg',
  'video_publishDate': '2022-09-19T13:00:17Z',
  'video_duration': 'PT9M38S',
  'video_view': '100969',
  'video_likes': '2454',
  'video_favorite': '0',
  'video_comments': '183',
  'video_captionStatus': 'false'},
 {'channel_title': 'techTFQ',
  'channel_id': 'UCnz-ZXXER4jOvuED5trXfEA',
  'video_title': 'Solving SQL Interview Query | SQL Problem by Service based company',
  'video_id': '_suB8xV9aPc',
  'video_thumnails': 'https://i.ytimg.com/vi/_suB8xV9aPc/default.jpg',
  'video_publishDate': '2022-09-16T13:00:32Z',
  'video_duration': 'PT9M19S',
  'video_view': '31183',
  'video_likes': '1137',
  'video_favorite': '0',
  'video_comments': '74',
  'video_captionStatus': 'false'},
 {'channel_title': 'techTFQ',
  'channel_id': 'UCnz-ZXXER4jOvuED5trXfEA',
  'video_title': 'Practice SQL Interview Query | Big 4 Interview Question',
  'video_id': 'dWHSt0BVlv0',
  'video_thumnails': 'https://i.ytimg.com/vi/dWHSt0BVlv0/default.jpg',
  'video_publishDate': '2022-09-12T13:00:33Z',
  'video_duration': 'PT14M47S',
  'video_view': '93658',
  'video_likes': '3376',
  'video_favorite': '0',
  'video_comments': '179',
  'video_captionStatus': 'false'},
 {'channel_title': 'techTFQ',
  'channel_id': 'UCnz-ZXXER4jOvuED5trXfEA',
  'video_title': 'Solving SQL Interview Query | Ungroup given input data | FAANG Interview Query',
  'video_id': 'xJVWL7eMir0',
  'video_thumnails': 'https://i.ytimg.com/vi/xJVWL7eMir0/default.jpg',
  'video_publishDate': '2022-09-08T13:00:36Z',
  'video_duration': 'PT14M23S',
  'video_view': '36502',
  'video_likes': '1081',
  'video_favorite': '0',
  'video_comments': '83',
  'video_captionStatus': 'false'},
 {'channel_title': 'techTFQ',
  'channel_id': 'UCnz-ZXXER4jOvuED5trXfEA',
  'video_title': 'How to remove Duplicate Data in SQL | SQL Query to remove duplicate',
  'video_id': 'h48xzQR3wNQ',
  'video_thumnails': 'https://i.ytimg.com/vi/h48xzQR3wNQ/default.jpg',
  'video_publishDate': '2022-09-02T13:29:46Z',
  'video_duration': 'PT37M31S',
  'video_view': '252103',
  'video_likes': '6107',
  'video_favorite': '0',
  'video_comments': '249',
  'video_captionStatus': 'false'},
 {'channel_title': 'techTFQ',
  'channel_id': 'UCnz-ZXXER4jOvuED5trXfEA',
  'video_title': 'Solving Complex SQL Query from HackerRank | SQL Interview Query',
  'video_id': 'S5gX-LLAZIM',
  'video_thumnails': 'https://i.ytimg.com/vi/S5gX-LLAZIM/default.jpg',
  'video_publishDate': '2022-08-10T13:56:09Z',
  'video_duration': 'PT38M22S',
  'video_view': '63849',
  'video_likes': '1597',
  'video_favorite': '0',
  'video_comments': '146',
  'video_captionStatus': 'false'},
 {'channel_title': 'techTFQ',
  'channel_id': 'UCnz-ZXXER4jOvuED5trXfEA',
  'video_title': 'Data Analyst vs Business Analyst | What should you choose?',
  'video_id': 'LNlzx-YX8rI',
  'video_thumnails': 'https://i.ytimg.com/vi/LNlzx-YX8rI/default.jpg',
  'video_publishDate': '2022-07-26T12:45:01Z',
  'video_duration': 'PT10M1S',
  'video_view': '28169',
  'video_likes': '1225',
  'video_favorite': '0',
  'video_comments': '110',
  'video_captionStatus': 'false'},
 {'channel_title': 'techTFQ',
  'channel_id': 'UCnz-ZXXER4jOvuED5trXfEA',
  'video_title': 'Materialized View in SQL | Faster SQL Queries using Materialized Views',
  'video_id': 'WzkBZ0byoYE',
  'video_thumnails': 'https://i.ytimg.com/vi/WzkBZ0byoYE/default.jpg',
  'video_publishDate': '2022-07-07T13:04:22Z',
  'video_duration': 'PT16M40S',
  'video_view': '70668',
  'video_likes': '1845',
  'video_favorite': '0',
  'video_comments': '174',
  'video_captionStatus': 'false'},
 {'channel_title': 'techTFQ',
  'channel_id': 'UCnz-ZXXER4jOvuED5trXfEA',
  'video_title': 'Learn SQL the right way | SQL Live Training | Learn SQL from me',
  'video_id': 'weCZ1WynbMI',
  'video_thumnails': 'https://i.ytimg.com/vi/weCZ1WynbMI/default.jpg',
  'video_publishDate': '2022-06-28T14:30:13Z',
  'video_duration': 'PT16M6S',
  'video_view': '31753',
  'video_likes': '597',
  'video_favorite': '0',
  'video_comments': '190',
  'video_captionStatus': 'false'},
 {'channel_title': 'techTFQ',
  'channel_id': 'UCnz-ZXXER4jOvuED5trXfEA',
  'video_title': 'SQL Interview Assignment Queries | REAL SQL Assignment given in Interview Part 2 (Query Solution)',
  'video_id': '3dOxGYkpVbE',
  'video_thumnails': 'https://i.ytimg.com/vi/3dOxGYkpVbE/default.jpg',
  'video_publishDate': '2022-06-21T14:10:42Z',
  'video_duration': 'PT30M16S',
  'video_view': '24713',
  'video_likes': '591',
  'video_favorite': '0',
  'video_comments': '51',
  'video_captionStatus': 'false'},
 {'channel_title': 'techTFQ',
  'channel_id': 'UCnz-ZXXER4jOvuED5trXfEA',
  'video_title': 'SQL Interview Assignment Queries | REAL SQL Assignment given in Interview Part 1 (Problem Statement)',
  'video_id': '9dLXZrw6nac',
  'video_thumnails': 'https://i.ytimg.com/vi/9dLXZrw6nac/default.jpg',
  'video_publishDate': '2022-06-17T13:30:02Z',
  'video_duration': 'PT8M17S',
  'video_view': '20020',
  'video_likes': '580',
  'video_favorite': '0',
  'video_comments': '80',
  'video_captionStatus': 'false'},
 {'channel_title': 'techTFQ',
  'channel_id': 'UCnz-ZXXER4jOvuED5trXfEA',
  'video_title': 'REAL SQL Interview Question | Complex SQL Interview Query and Solution',
  'video_id': 'i3xK7Nc414Q',
  'video_thumnails': 'https://i.ytimg.com/vi/i3xK7Nc414Q/default.jpg',
  'video_publishDate': '2022-06-03T13:35:34Z',
  'video_duration': 'PT37M16S',
  'video_view': '58510',
  'video_likes': '1431',
  'video_favorite': '0',
  'video_comments': '116',
  'video_captionStatus': 'false'},
 {'channel_title': 'techTFQ',
  'channel_id': 'UCnz-ZXXER4jOvuED5trXfEA',
  'video_title': 'Top 10 Tips for JOB Interview | Tips for Job Interview',
  'video_id': 'H7YMumanHBA',
  'video_thumnails': 'https://i.ytimg.com/vi/H7YMumanHBA/default.jpg',
  'video_publishDate': '2022-05-25T13:00:15Z',
  'video_duration': 'PT10M44S',
  'video_view': '15004',
  'video_likes': '585',
  'video_favorite': '0',
  'video_comments': '45',
  'video_captionStatus': 'false'},
 {'channel_title': 'techTFQ',
  'channel_id': 'UCnz-ZXXER4jOvuED5trXfEA',
  'video_title': 'Solving SQL Query | Rows to Column in SQL',
  'video_id': '4p-G7fGhqRk',
  'video_thumnails': 'https://i.ytimg.com/vi/4p-G7fGhqRk/default.jpg',
  'video_publishDate': '2022-05-18T13:21:24Z',
  'video_duration': 'PT1H13M11S',
  'video_view': '126321',
  'video_likes': '3258',
  'video_favorite': '0',
  'video_comments': '165',
  'video_captionStatus': 'false'},
 {'channel_title': 'techTFQ',
  'channel_id': 'UCnz-ZXXER4jOvuED5trXfEA',

In [261]:
len(video_details_call)

18

In [81]:
#Now we are going to get the comments
def get_comment_details(video_ids):
    comment_detaillist = []
    try:
        for i in video_ids:
                comment_request = youtube_call.commentThreads().list(
                    part = "snippet,id,replies",
                    videoId = i,
                    maxResults = 50
                )
                comment_response = comment_request.execute()

                for i in comment_response["items"]:
                    comment_data = {
                        "comment_id" : i["id"],
                        "video_id" : i["snippet"]["topLevelComment"]["snippet"]["videoId"],
                        "comment_text" : i["snippet"]["topLevelComment"]["snippet"]["textDisplay"],
                        "comment_author" :i["snippet"]["topLevelComment"]["snippet"]["authorDisplayName"],
                        "comment_publishdate" :i["snippet"]["topLevelComment"]["snippet"]["publishedAt"]
                    }
                    comment_detaillist.append(comment_data)
    except:
          pass
    return comment_detaillist

In [82]:
comment_detailslist_call = get_comment_details(video_id_call)

In [83]:
comment_detailslist_call

[{'comment_id': 'UgwvxGJ9395SKlgxIkp4AaABAg',
  'video_id': '6lI0q2DV8DY',
  'comment_text': 'Plsql bootcamp please',
  'comment_author': 'Anudeep Reddy',
  'comment_publishdate': '2023-11-12T00:02:26Z'},
 {'comment_id': 'UgyFJlN_Kks8HN4TAn14AaABAg',
  'video_id': '6lI0q2DV8DY',
  'comment_text': 'can someone help me how to use cte.  .    i am a beginner help me with sql',
  'comment_author': 'shyam kumar',
  'comment_publishdate': '2023-11-11T11:10:00Z'},
 {'comment_id': 'UgyAN6tNOPJOXyBf2dx4AaABAg',
  'video_id': '6lI0q2DV8DY',
  'comment_text': 'Enjoyed your SQL interview tips! ðŸš€ I&#39;ve just kicked off a channel diving into SQL questions and solutions. Would love your insights and feedback! Keep rocking the SQL world',
  'comment_author': 'Data From Zero to Hero',
  'comment_publishdate': '2023-11-09T17:23:01Z'},
 {'comment_id': 'UgwrH1hOD5bGvB8o9XJ4AaABAg',
  'video_id': '6lI0q2DV8DY',
  'comment_text': 'Bhai ads jyada ho Gaye..',
  'comment_author': 'Programmer Hrutik',
  'comment_publishdate': '2023-11-06T17:07:46Z'},
 {'comment_id': 'UgxEPIGSnD-MFx9I4ex4AaABAg',
  'video_id': '6lI0q2DV8DY',
  'comment_text': '5 runs are possible.<br>There should be wide+4.<br>No ball +4.<br>Overthrow 1+4.<br><br>There is a possibility of 5 runs.<br><br>Query was good. Please create a video more like this with new scenarios. Thank you!',
  'comment_author': 'Chaitanya Inamdar',
  'comment_publishdate': '2023-11-01T06:41:00Z'},
 {'comment_id': 'UgyVmP3GBxNbUDdR5dd4AaABAg',
  'video_id': '6lI0q2DV8DY',
  'comment_text': 'Thanks for sharing valuable knowledge,<br>Can you please suggest some extended technologies to learn , I have SQL/PLSQL real time experience...',
  'comment_author': 'Zainul Abadin',
  'comment_publishdate': '2023-11-01T06:18:09Z'},
 {'comment_id': 'Ugzl0kAq-sx1AWlgz8R4AaABAg',
  'video_id': '6lI0q2DV8DY',
  'comment_text': 'Hi TFQ, kindly make videos on power bi',
  'comment_author': 'DEEPAK KUMAR',
  'comment_publishdate': '2023-10-31T12:11:37Z'},
 {'comment_id': 'UgyZXJhL7K7o5SD5rsl4AaABAg',
  'video_id': '6lI0q2DV8DY',
  'comment_text': 'Sir when will be your new sql bootcamp',
  'comment_author': 'Mounika Gundlapalli',
  'comment_publishdate': '2023-10-31T10:18:48Z'},
 {'comment_id': 'UgwShFNSjif1zLOqJNt4AaABAg',
  'video_id': '6lI0q2DV8DY',
  'comment_text': 'Wide+4=5',
  'comment_author': 'MOHAMMAD NADEEM Nadeem',
  'comment_publishdate': '2023-10-30T16:08:22Z'},
 {'comment_id': 'UgwWTd6NaWcgFf5ODBZ4AaABAg',
  'video_id': '6lI0q2DV8DY',
  'comment_text': 'Hi, this may look a bit cumbersome to review. <br>kindly review if the process in right. <br>I have used reverse table to get multiples of 6 at beginning, followed by flagging of multiples of 6, then a drop down operation, then aggregating the runs and reversing the order of overs. <br>Happy SQLing everyone.<br><br>-- reverse order to bring multiples of 6 at the beginning<br>with cte as (<br>Select<br>balls,<br>runs<br>from <br>table<br>order by balls desc<br><br>),<br><br>--flag multiples of 6 as 1 for drop down operation in next cte<br>balls_flag as (<br>Select<br>balls,<br>runs,<br>case when mod(balls,6) = 0 then 1 else 0 end as balls_flag<br>from <br>cte<br>),<br><br>-- use count aggregation with window function to create new row which will be used to aggregate runs over wise in next cte.<br>over_group as (<br>select <br>balls,<br>runs,<br>balls_flag,<br>count(balls_flag)over(order  by balls desc) as over_group<br>from <br>balls_flag<br>),<br><br>-- aggregate runs over wise by grouping on over_group. however output will give reverse order of over aggregation. eg runs in over 20 will be aggregated as over 1. this will be reversed in next cte<br>rev_over_sum as (<br>Select<br>over_group as over_rev,<br>sum(runs) as runs<br>from <br>over_group<br>group by 1<br>or<br>),<br><br>-- create new column using row number window function by ordering in desc order of over_rev<br>reorder_overs as (<br>Select<br>over_rev,<br>runs,<br>row_number()over(order by over_rev desc) as overs<br>from <br>rev_over_group<br>)<br><br>--select reversed overs and runs column to get desired results<br>Select<br>overs,<br>runs<br>from <br>reorder_overs',
  'comment_author': 'Mithun KT',
  'comment_publishdate': '2023-10-30T02:47:45Z'},
 {'comment_id': 'Ugx6Aw6TYUqP-LpYljF4AaABAg',
  'video_id': '6lI0q2DV8DY',
  'comment_text': 'Why functions are called as window functions in SQL',
  'comment_author': 'Janardhan jana',
  'comment_publishdate': '2023-10-28T03:04:33Z'},
 {'comment_id': 'UgxQQZW0-qT5fhaIyTt4AaABAg',
  'video_id': '6lI0q2DV8DY',
  'comment_text': 'is ntile function divides the number of rows by ntile value ? in that case suppose if i have 152 balls.',
  'comment_author': 'vineeth menon',
  'comment_publishdate': '2023-10-26T15:55:45Z'},
 {'comment_id': 'UgwIaZxiaa8NjPSlB214AaABAg',
  'video_id': '6lI0q2DV8DY',
  'comment_text': 'can anybody tell me how to insert data in my sql server as some function is not supported',
  'comment_author': 'Shivani',
  'comment_publishdate': '2023-10-26T02:46:54Z'},
 {'comment_id': 'UgzCw0c4JebHJbpaQKB4AaABAg',
  'video_id': '6lI0q2DV8DY',
  'comment_text': '4 wides',
  'comment_author': 'Sobhik Saha',
  'comment_publishdate': '2023-10-25T13:49:11Z'},
 {'comment_id': 'UgyMGcXao33ZMGi-PLZ4AaABAg',
  'video_id': '6lI0q2DV8DY',
  'comment_text': 'Does SQL server got generate_Series function?',
  'comment_author': 'Rajkumar Rajan',
  'comment_publishdate': '2023-10-25T08:50:44Z'},
 {'comment_id': 'Ugwhxox4B09uYVhaD6x4AaABAg',
  'video_id': '6lI0q2DV8DY',
  'comment_text': 'yes it was interesting',
  'comment_author': 'Kanaparthi Lakshmikanth',
  'comment_publishdate': '2023-10-25T06:38:16Z'},
 {'comment_id': 'UgxgK7MhZthZS_Gem9Z4AaABAg',
  'video_id': '6lI0q2DV8DY',
  'comment_text': 'thank you for the video sir but can you explain the same in the MySQL workbench,  that would be really helpful',
  'comment_author': 'Satyalekhya Dsln',
  'comment_publishdate': '2023-10-25T04:09:34Z'},
 {'comment_id': 'UgyYJlDpQYuzYKYzdWt4AaABAg',
  'video_id': '6lI0q2DV8DY',
  'comment_text': 'My approach will be. Creating a column named over. Where value will be quotient when divided by 6. Then group by it. <a href="https://www.youtube.com/watch?v=6lI0q2DV8DY&amp;t=12m47s">12:47</a>',
  'comment_author': 'Aji Thomas',
  'comment_publishdate': '2023-10-24T19:28:41Z'},
 {'comment_id': 'UgwQZqQ2E8wp3go3t1J4AaABAg',
  'video_id': '6lI0q2DV8DY',
  'comment_text': 'It&#39;s possible to score five runs in one ball <br>First is wide + boundary and <br>Second 1 run + byes 4runs(thrown by fielder)',
  'comment_author': 'Pavan Rebel',
  'comment_publishdate': '2023-10-24T06:26:26Z'},
 {'comment_id': 'UgwbK4IHikYG2dPVA6h4AaABAg',
  'video_id': '6lI0q2DV8DY',
  'comment_text': 'Useful info Toufiq!!<br><br>I have tried the following way in snowflake:<br><br>with raw_data as <br>(select case when ball%6 != 0 then to_decimal(left(round(ball/6,1),1)+1) else to_decimal(ball/6) end as rank ,<br>\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0 ball,<br>\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0 score from demo_db.public.cricket)<br><br>select\xa0\xa0\xa0 rank , sum(score) as runs<br>from raw_data<br>group by rank',
  'comment_author': 'Saibabu Vasamsetti',
  'comment_publishdate': '2023-10-23T17:56:44Z'},
 {'comment_id': 'UgxeG8th5KPWit1VIRt4AaABAg',
  'video_id': '6lI0q2DV8DY',
  'comment_text': '################ My Solution in PostgreSQL ###################<br><br>with A <br>as <br>(<br>  select <br>  ceil(((balls/6)*1.0)+((balls%6)*0.1)) as over,<br>  * <br>from <br>  match_score)<br><br>select <br>over,<br>sum(runs) as score<br>from A<br>group by over<br>order by over',
  'comment_author': 'Koushik T',
  'comment_publishdate': '2023-10-23T15:36:59Z'},
 {'comment_id': 'Ugy7e0fS_zMAtjEY2z54AaABAg',
  'video_id': '6lI0q2DV8DY',
  'comment_text': 'i have a quesion in SQL <br>is it possible to connect with you on any platform to discuss about that problem ?',
  'comment_author': 'ketan verma',
  'comment_publishdate': '2023-10-23T15:02:22Z'},
 {'comment_id': 'Ugwl7VOg8DJM0CmfN2J4AaABAg',
  'video_id': '6lI0q2DV8DY',
  'comment_text': 'Thanks for sharing this video. Here is my approach:<br>SELECT<br>\tcase when balls%6=0 then balls/6 else (balls/6)+1 end as over,<br>        sum(runs) as score<br>FROM match_score<br>GROUP by 1;',
  'comment_author': 'KisaanTuber',
  'comment_publishdate': '2023-10-23T03:01:58Z'},
 {'comment_id': 'Ugxr0AKYGmioOW9mByZ4AaABAg',
  'video_id': '6lI0q2DV8DY',
  'comment_text': 'Hello All, I felt the approach used in the video is little lengthier. Here is my solution for same<br><br>\r<br>;with cric_overs as -------- Data preparation\r<br>(\r<br>Select 1 AS balls,2 AS runs\r<br>union all\r<br>Select 2 AS balls,3 AS runs\r<br>union all\r<br>Select 3 AS balls,4 AS runs\r<br>union all\r<br>Select 4 AS balls,6 AS runs\r<br>union all\r<br>Select 5 AS balls,1 AS runs\r<br>union all\r<br>Select 6 AS balls,1 AS runs\r<br>union all\r<br>Select 7 AS balls,2 AS runs\r<br>union all\r<br>Select 8 AS balls,3 AS runs\r<br>union all\r<br>Select 9 AS balls,4 AS runs\r<br>union all\r<br>Select 10 AS balls,4 AS runs\r<br>union all\r<br>Select 11 AS balls,2 AS runs\r<br>union all\r<br>Select 12 AS balls,6 AS runs\r<br>union all\r<br>Select 13 AS balls,2 AS runs\r<br>union all\r<br>Select 14 AS balls,1 AS runs\r<br>union all\r<br>Select 15 AS balls,4 AS runs\r<br>union all\r<br>Select 16 AS balls,1 AS runs\r<br>union all\r<br>Select 17 AS balls,2 AS runs\r<br>union all\r<br>Select 18 AS balls,4 AS runs\r<br>) ------------------------------- Data preparation\r<br>------------------ logic that solves the problem ----------\r<br>,cte_flag as \r<br>(\r<br>Select\r<br>balls,\r<br>runs,\r<br>CASE\r<br>\twhen balls % 6 = 0 THEN balls / 6\r<br>\telse (balls / 6) + 1\r<br>end as overs\r<br>from cric_overs\r<br>)\r<br>select overs\r<br>,SUM(runs) as TotalRunsEachOver\r<br>from cte_flag\r<br>Group by overs\r<br>Order by overs',
  'comment_author': 'Tarun Pothala',
  'comment_publishdate': '2023-10-22T17:19:48Z'},
 {'comment_id': 'UgzxElP8J7pm5WTcuB54AaABAg',
  'video_id': '6lI0q2DV8DY',
  'comment_text': 'for MYSQL ?',
  'comment_author': 'Rajish Nair',
  'comment_publishdate': '2023-10-21T13:26:46Z'},
 {'comment_id': 'Ugwc45Ok5HeUtDu2lFd4AaABAg',
  'video_id': '6lI0q2DV8DY',
  'comment_text': 'Hi Toufiq ,can please tell me what is a use of Within group clause it will be helpful if take example',
  'comment_author': 'KARTIK WAGH',
  'comment_publishdate': '2023-10-20T14:20:51Z'},
 {'comment_id': 'UgxS9XWPp1wf1le6PUR4AaABAg',
  'video_id': '6lI0q2DV8DY',
  'comment_text': 'But 5 runs can be scored if the ball is noball and the batsman hit 4 !!! if am not wrong please correct me',
  'comment_author': 'Dr. Aravinda C V NMAMIT',
  'comment_publishdate': '2023-10-20T10:30:46Z'},
 {'comment_id': 'UgzmykwhToDO8__bO6t4AaABAg',
  'video_id': '6lI0q2DV8DY',
  'comment_text': 'with cte as (\r<br>\r<br>select balls,runs,(case\r<br>                           when balls % 6=0 then balls/6\r<br>\t\t\t\t\t\t   else balls/6+1\r<br>\t\t\t\t\t\t   end) as overs\r<br>from match_score)\r<br>\r<br>select  overs,sum(runs) runs_per_over\r<br>from cte\r<br>group by overs;',
  'comment_author': 'Prasanna Chalamalasetti',
  'comment_publishdate': '2023-10-20T05:25:49Z'},
 {'comment_id': 'Ugwt9_uF-8HKZmX-ZJR4AaABAg',
  'video_id': '6lI0q2DV8DY',
  'comment_text': 'Hello, sir! Could you please make a video about DCL or SQL Triggers?',
  'comment_author': 'Kemjhon Ponce',
  'comment_publishdate': '2023-10-19T23:35:06Z'},
 {'comment_id': 'Ugw0l86jTdLYHs0DBSt4AaABAg',
  'video_id': '6lI0q2DV8DY',
  'comment_text': '5 runs are possible. Overthrows. Single + 4 overthrows, etc.',
  'comment_author': 'Christopher Bird',
  'comment_publishdate': '2023-10-19T22:34:05Z'},
 {'comment_id': 'UgxpiRLAfVxBgyK6VAJ4AaABAg',
  'video_id': '6lI0q2DV8DY',
  'comment_text': 'with cte as(\r<br>select balls, runs, ceil(balls/6) as over from match_score)\r<br>select over, sum(runs) from cte\r<br>group by over;',
  'comment_author': 'Atish Pradhan',
  'comment_publishdate': '2023-10-19T16:59:24Z'},
 {'comment_id': 'UgzVmdXi11rxJ0h7LC54AaABAg',
  'video_id': '6lI0q2DV8DY',
  'comment_text': 'Another great tutorial thank you Toufic!',
  'comment_author': 'Sohail Khan',
  'comment_publishdate': '2023-10-19T11:26:52Z'},
 {'comment_id': 'UgyUdTUChboAfmfpPv54AaABAg',
  'video_id': '6lI0q2DV8DY',
  'comment_text': 'Very interesting video, Ntile came to my mind at first for segregation of overs and count, this is because, I have watched your video in the past you explained, I learn new things from your vids. Thanks a lot. <br><br>My only concern is, generate series is not working in the ssms(sql server) that im using. Its compatibility is 130. <br>Can I use row_number to generate numbers until 120 or so.',
  'comment_author': 'Shekhar K',
  'comment_publishdate': '2023-10-19T11:25:25Z'},
 {'comment_id': 'UgzmwSTWs2PiNn29IgJ4AaABAg',
  'video_id': '6lI0q2DV8DY',
  'comment_text': 'Hi First of all thank you , your videos have been really helpful. I tried visiting your blog but it wont open.',
  'comment_author': 'Rithvik Shetty',
  'comment_publishdate': '2023-10-19T07:26:18Z'},
 {'comment_id': 'UgwQGEx7g13agbC2hyt4AaABAg',
  'video_id': '6lI0q2DV8DY',
  'comment_text': 'Same was asked to me in a interview few months ago',
  'comment_author': 'Karthik S N',
  'comment_publishdate': '2023-10-19T05:18:00Z'},
 {'comment_id': 'UgwMGDAfvPNERGcQQG94AaABAg',
  'video_id': '6lI0q2DV8DY',
  'comment_text': 'Man you are awesome',
  'comment_author': 'manoj cheera',
  'comment_publishdate': '2023-10-19T02:52:33Z'},
 {'comment_id': 'Ugzqzy3Te0McvMr7LU94AaABAg',
  'video_id': '6lI0q2DV8DY',
  'comment_text': 'â¤',
  'comment_author': 'Bhushan sagar',
  'comment_publishdate': '2023-10-19T01:55:15Z'},
 {'comment_id': 'Ugw9iky4mzQFijtaMjJ4AaABAg',
  'video_id': '6lI0q2DV8DY',
  'comment_text': 'while using Random function in microsoft sql server management the output are the same value to all the 120 Balls for e.g Balls 1, random value is 0.855, the value for remaining 119 balls are also showing the same random value as in ball 1 i.e 0.855. Plz let me know how to solve this pblm',
  'comment_author': 'Daily Dairy 4U',
  'comment_publishdate': '2023-10-18T20:08:12Z'},
 {'comment_id': 'Ugw1m31MgyB_91d1lHB4AaABAg',
  'video_id': '6lI0q2DV8DY',
  'comment_text': 'I always learn new things from your video thanks brother',
  'comment_author': 'Shrikant Shirsekar',
  'comment_publishdate': '2023-10-18T18:45:15Z'},
 {'comment_id': 'Ugywidq6MM1N91IgLxh4AaABAg',
  'video_id': '6lI0q2DV8DY',
  'comment_text': '@techtfq i need to extract data with the help of group_concat and the data should be populated columnwise . I mailed you many times and try to connect you on your website but still not getting any response. Require your help for extracting the data in mysql',
  'comment_author': 'Rishabh Gupta',
  'comment_publishdate': '2023-10-18T18:15:54Z'},
 {'comment_id': 'Ugxcc-HuqeEFU_3KdgJ4AaABAg',
  'video_id': '6lI0q2DV8DY',
  'comment_text': 'how about this method ...\r<br>\r<br>select ((balls-1)/6)+1 as balls, sum(runs) from cricket group by ((balls-1)/6)+1 order by 1;',
  'comment_author': 'vidyasagar j Kollurkar',
  'comment_publishdate': '2023-10-18T18:10:41Z'},
 {'comment_id': 'UgxuwFGVqQZTBineM-d4AaABAg',
  'video_id': '6lI0q2DV8DY',
  'comment_text': 'Very eloquently solved the problem with ease. Thank you @Techtfq',
  'comment_author': 'Abul Hassan',
  'comment_publishdate': '2023-10-18T17:31:01Z'},
 {'comment_id': 'Ugw3W-wPPVSI40HNbMp4AaABAg',
  'video_id': '6lI0q2DV8DY',
  'comment_text': 'But we can score 5 runs in a single ball wide+four.',
  'comment_author': 'pesforever2055 qz',
  'comment_publishdate': '2023-10-18T17:04:38Z'},
 {'comment_id': 'UgyHrzjd97XKCPEGW-54AaABAg',
  'video_id': '6lI0q2DV8DY',
  'comment_text': 'Thank you Toufiq! <br><br>I tried in the following way:<br>SELECT over_num, SUM(runs) tot_runs\r<br>FROM\r<br>    (\r<br>        SELECT ceil(balls / 6) over_num, m.runs\r<br>        FROM   match_score m\r<br>    )\r<br>GROUP BY   over_num\r<br>ORDER BY   over_num;<br><br>Note: Tested in Oracle SQL',
  'comment_author': 'Priya Sarathy',
  'comment_publishdate': '2023-10-18T16:48:37Z'},
 {'comment_id': 'UgzEl-hP3HXYuZx2JRt4AaABAg',
  'video_id': '6lI0q2DV8DY',
  'comment_text': 'Learnt something new things',
  'comment_author': 'yogesh talaskar',
  'comment_publishdate': '2023-10-18T16:44:02Z'},
 {'comment_id': 'UgybAFOvz1qrvDuOwHx4AaABAg',
  'video_id': '6lI0q2DV8DY',
  'comment_text': 'i do not how but might be any window fun ?',
  'comment_author': 'Virendra Trivedi',
  'comment_publishdate': '2023-10-18T15:51:46Z'},
 {'comment_id': 'Ugy-IeRFCmkYyRttT3J4AaABAg',
  'video_id': '6lI0q2DV8DY',
  'comment_text': 'great to know about ntile and random function and there use in sql',
  'comment_author': 'Review By Anand ',
  'comment_publishdate': '2023-10-18T15:51:12Z'},
 {'comment_id': 'UgwNvgWfntzUtIoZVYh4AaABAg',
  'video_id': '6lI0q2DV8DY',
  'comment_text': 'Awesome Mr Toufiq<br>New window function i learnt....<br><br>Thanks so much',
  'comment_author': 'junaid khan',
  'comment_publishdate': '2023-10-18T15:27:26Z'},
 {'comment_id': 'UgxEOE8oERiRYDcsUUZ4AaABAg',
  'video_id': '6lI0q2DV8DY',
  'comment_text': 'Can we do by using case statement but lengthy code',
  'comment_author': 'Mjeditz87',
  'comment_publishdate': '2023-10-18T15:17:58Z'},
 {'comment_id': 'Ugy5_DNh1bpSpQHb9Qx4AaABAg',
  'video_id': '6lI0q2DV8DY',
  'comment_text': 'learn new thing..',
  'comment_author': 'Hitesh Malviya',
  'comment_publishdate': '2023-10-18T15:03:34Z'},
 {'comment_id': 'Ugz5Rd8nU9iTzeqsnbN4AaABAg',
  'video_id': 'nzJJP-uDIZc',
  'comment_text': 'OdinSchool Bootcamp link: <a href="https://hubs.la/Q024h4NC0">https://hubs.la/Q024h4NC0</a><br>Success stories page link: <a href="https://hubs.la/Q024h4Xz0">https://hubs.la/Q024h4Xz0</a>',
  'comment_author': 'techTFQ',
  'comment_publishdate': '2023-10-05T20:20:42Z'},
 {'comment_id': 'Ugzn40Inxuw4qdJyj7Z4AaABAg',
  'video_id': 'nzJJP-uDIZc',
  'comment_text': 'Plsql bootcamp please',
  'comment_author': 'Anudeep Reddy',
  'comment_publishdate': '2023-11-12T00:01:54Z'},
 {'comment_id': 'UgwIbDaxImhf7gY_dWx4AaABAg',
  'video_id': 'nzJJP-uDIZc',
  'comment_text': 'I am not sure whether I am right here but, this is what I understand.<br>Parent of B is Y and Y&#39;s grandparent is Y1 and the status of Y1 is Alive. Can you please help me understand why that record is not coming in your result set?',
  'comment_author': 'Sameer Ambre',
  'comment_publishdate': '2023-10-31T04:28:55Z'},
 {'comment_id': 'UgxekWyz20vSX6j3w2B4AaABAg',
  'video_id': 'nzJJP-uDIZc',
  'comment_text': 'JazakAllah.<br>Very convenient solution to a complex problem. May Allah bless you.',
  'comment_author': '560 Faraz Ahmad',
  'comment_publishdate': '2023-10-28T16:54:18Z'},
 {'comment_id': 'UgwjSbjulEfOEpvE8hN4AaABAg',
  'video_id': 'nzJJP-uDIZc',
  'comment_text': 'great',
  'comment_author': 'vraj someshvari',
  'comment_publishdate': '2023-10-22T17:54:22Z'},
 {'comment_id': 'Ugw9oqLWgrlGDrrxhdl4AaABAg',
  'video_id': 'nzJJP-uDIZc',
  'comment_text': 'I think this problem should be the best example for demoing the usecase for self join',
  'comment_author': 'Bharathan Kumaran',
  'comment_publishdate': '2023-10-22T05:12:24Z'},
 {'comment_id': 'UgxjPeNl6yh_QLgUohl4AaABAg',
  'video_id': 'nzJJP-uDIZc',
  'comment_text': 'Thanks a lot , I understood everything, great explanation,<br>i question what  the last part select count( 1) , are we doing a grouping?',
  'comment_author': 'Bharathan Kumaran',
  'comment_publishdate': '2023-10-22T05:08:32Z'},
 {'comment_id': 'UgwSMVbBMEBRdNi7m4N4AaABAg',
  'video_id': 'nzJJP-uDIZc',
  'comment_text': 'select count(p.person) as persons from persons p inner join persons gp on p.parent = gp.person inner join persons gp2 on<br>       gp.parent = gp2.person where gp2.person_status = &#39;Alive&#39;;',

In [84]:
#Now to get the playlist detials 
def get_playlist_details(channel_ids):
    next_page_token = None
    playlist = []
    playlistdetails_request = youtube_call.playlists().list(
        part = "id,contentDetails,snippet",
        channelId = channel_ids,
        maxResults = 50,
        pageToken = next_page_token
    )
    playlistdetials_response = playlistdetails_request.execute()

    while True:
        for i in playlistdetials_response["items"]:
            playlist_data = {
                "playlist_id" : i["id"],
                "channel_id" : i["snippet"]["channelId"],
                "playlist_name" : i["snippet"]["title"]
            }
            playlist.append(playlist_data)
            
        next_page_token = playlistdetials_response.get("nextPageToken")    
        if next_page_token == None:
            break    
    return playlist

In [85]:
playlist_details_call = get_playlist_details("UCykSoHEAMVSU_w6ACWlxlzA")

In [86]:
playlist_details_call

[{'playlist_id': 'PLomWanZL-pO98qrLJY5tjcYvaun3dQ6SM',
  'channel_id': 'UCykSoHEAMVSU_w6ACWlxlzA',
  'playlist_name': 'Industry Use Cases'},
 {'playlist_id': 'PLomWanZL-pO9m48ZlPL4AdTcw4dtT0VOx',
  'channel_id': 'UCykSoHEAMVSU_w6ACWlxlzA',
  'playlist_name': 'Amazon Web Services'},
 {'playlist_id': 'PLomWanZL-pO-pOW7rCuqqC5bnc8AtXN2g',
  'channel_id': 'UCykSoHEAMVSU_w6ACWlxlzA',
  'playlist_name': 'Docker'},
 {'playlist_id': 'PLomWanZL-pO_OUdHBGKYIxTX8lApB_dDB',
  'channel_id': 'UCykSoHEAMVSU_w6ACWlxlzA',
  'playlist_name': 'Kubernetes'},
 {'playlist_id': 'PLomWanZL-pO_q-OXqFzYVlAHnqw_3JgZX',
  'channel_id': 'UCykSoHEAMVSU_w6ACWlxlzA',
  'playlist_name': 'Terraform'},
 {'playlist_id': 'PLomWanZL-pO8ylOY-ALCkueylmdxfF2_c',
  'channel_id': 'UCykSoHEAMVSU_w6ACWlxlzA',
  'playlist_name': 'Azure Cloud'},
 {'playlist_id': 'PLomWanZL-pO9M7X05s4msbJ15_GxRqivV',
  'channel_id': 'UCykSoHEAMVSU_w6ACWlxlzA',
  'playlist_name': 'Google Cloud Platform'},
 {'playlist_id': 'PLomWanZL-pO9KSO8UnZo0eFxDWc61GY_5',
  'channel_id': 'UCykSoHEAMVSU_w6ACWlxlzA',
  'playlist_name': 'DevOps Training'}]

In [270]:
len(playlist_details_call)

8

In [75]:
client = pymongo.MongoClient("mongodb+srv://Nivetha:mongonivetha123@cluster0.adch71s.mongodb.net/?retryWrites=true&w=majority")
db = client["youtube_data"]

In [44]:
client = MongoClient("mongodb+srv://Nivetha:mongonivetha123@cluster0.adch71s.mongodb.net/?retryWrites=true&w=majority", server_api=ServerApi('1'))
client.admin.command('ping')

{'ok': 1}

In [110]:
col = db["sample"]
s = {"name" :"xxx","year":2000,"age":23}
col.insert_one(s)

InsertOneResult(ObjectId('655452fdd89873834a65139a'), acknowledged=True)

In [76]:
'''Creating a function called channel details and assigning all the functions created to get 
chennal details,playlist details , video details and comment details'''

def channel_details(channel_id):
    channel_detail = get_channel_details(channel_id)
    playlist_details = get_playlist_details(channel_id)
    video_ids= get_video_ids(channel_id)
    video_details = get_video_details(video_ids)
    comment_details = get_comment_details(video_ids)

    col1 = db["channel_details"]
    col1.insert_one({"Channel_information" :channel_detail, "playlist_information" :playlist_details,
                      "Video_ids_information" : video_ids,"video_information" : video_details , "comment_information":comment_details })
    return  print("Insertion completed successfully")

In [179]:
channel1_insertion = channel_details("UC6RTJC0JgdVn_CCJe23tf6w")   #The Data Dude Youtube Channel

In [181]:
channel2_insertion = channel_details("UCnz-ZXXER4jOvuED5trXfEA")   #techTFQ youtube channel

Insertion completed successfully

In [182]:
channel3_insertion = channel_details("UC5--wS0Ljbin1TjWQX6eafA")   #bigboxswe code for fun channel

Insertion completed successfully

In [234]:
channel4_insertion = channel_details("UCfrvq9ybG1PxWulbSpvxCxA")   #bommaniac channel

Insertion completed successfully

In [297]:
channel5_insertion = channel_details("UCykSoHEAMVSU_w6ACWlxlzA")   #octobit8 channel

Insertion completed successfully

In [298]:
for i in col1.find():
    pprint(i["Channel_information"]["channel_id"])

'UC6RTJC0JgdVn_CCJe23tf6w'
'UCnz-ZXXER4jOvuED5trXfEA'
'UC5--wS0Ljbin1TjWQX6eafA'
'UCfrvq9ybG1PxWulbSpvxCxA'
'UCykSoHEAMVSU_w6ACWlxlzA'

In [293]:
len(i)

6

In [81]:
    #Creating table for channel,playlist ,video, and comment details
def channels_table(): 
        mydb = mysql.connect(
            host = "localhost",
            user = "root",
            password = "mysql",
            database = "youtube_data",
            port = "3306"
        )

        cursor = mydb.cursor()

        drop_query = '''drop table if exists channels'''
        cursor.execute(drop_query)
        mydb.commit()
        
        #creating a table named channels
        try:
            channel_table ='''create table if not exists channels(channel_title varchar(100),channel_id varchar(70) primary key,
                            channel_subscribers bigint,channel_viewcount bigint, channel_videocount int,channel_description text)'''

            cursor.execute(channel_table)               
            mydb.commit()

        except:
            print("Channel table already created")  

        ch_list = []
        db = client["youtube_data"]   
        col1 = db["channel_details"]
        for i in col1.find({},{"_id":0,"Channel_information":1}):
            ch_list.append(i["Channel_information"])
        df = pd.DataFrame(ch_list)       
        
        #inserting the values of channels dataframe into the channels table
        for index,rows in df.iterrows():
            insert_query = '''insert into channels(channel_title,
                                                channel_id,
                                                channel_subscribers,
                                                channel_viewcount,
                                                channel_videocount,
                                                channel_description) 
                                                
                                                values(%s,%s,%s,%s,%s,%s)'''
            values = (rows["channel_title"],
                    rows["channel_id"],
                    rows["channel_subscribers"],
                    rows["channel_viewcount"],
                    rows["channel_videocount"],
                    rows["channel_description"])    

            try:
                cursor.execute(insert_query,values)
                mydb.commit()
            except:
                print("Channel values already inserted")

In [82]:
#Creating table for playlist details

def playlist_table():
    mydb = mysql.connect(
        host = "localhost", 
        user = "root",
        password = "mysql",
        database = "youtube_data",
        port = "3306"
    )

    cursor = mydb.cursor()

    drop_query = '''drop table if exists playlists'''
    cursor.execute(drop_query)
    mydb.commit()
    
    #creating a table named playlists
    playlist_query ='''create table if not exists playlists(playlist_id varchar(100) primary key,channel_id varchar(70),
                                                                playlist_name text)'''

    cursor.execute(playlist_query)               
    mydb.commit()

    pl_list = []
    db = client["youtube_data"]   
    col1 = db["channel_details"]
    for i in col1.find({},{"_id":0,"playlist_information":1}):
        for j in range(len(i["playlist_information"])):
            pl_list.append(i["playlist_information"][j])
    df_playlist = pd.DataFrame(pl_list)  

    #inserting the values of playlist dataframe into the playlists table
    for index,rows in df_playlist.iterrows():
        insert_query = '''insert into playlists(playlist_id,channel_id,playlist_name)
                                            
                                            values(%s,%s,%s)'''
        values = (rows["playlist_id"],
                rows["channel_id"],
                rows["playlist_name"]
                )    

        cursor.execute(insert_query,values)
        mydb.commit()

In [83]:
#creating table for video details
def video_table():
    mydb = mysql.connect(
            host = "localhost", 
            user = "root",
            password = "mysql",
            database = "youtube_data",
            port = "3306"
        )

    cursor = mydb.cursor()

    drop_query = '''drop table if exists videos'''
    cursor.execute(drop_query)
    mydb.commit()

    #for creating a table named videos
    video_query ='''create table if not exists videos(channel_title varchar(50),channel_id varchar(70),video_title varchar(100),
                                        video_id varchar(50) primary key,video_thumnails varchar(200),
                                        video_publishDate timestamp,video_duration time,
                                        video_view bigint,video_likes bigint,video_favorite int,
                                        video_comments bigint,video_captionStatus varchar(20))'''

    cursor.execute(video_query)               
    mydb.commit()

    vd_list = []
    db = client["youtube_data"]   
    col1 = db["channel_details"]
    for i in col1.find({},{"_id":0,"video_information":1}):
        for j in range(len(i["video_information"])):
            vd_list.append(i["video_information"][j])
    df_video = pd.DataFrame(vd_list)  

    cursor = mydb.cursor()
    
    #inserting the values of video dataframe into videos table
    for index,rows in df_video.iterrows():
        insert_query = '''insert into videos(channel_title,channel_id,video_title,video_id,video_thumnails,video_publishDate,
                                video_duration,video_view,video_likes,video_favorite,video_comments,video_captionStatus)
                                            
                                            values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)'''

        # Convert the string value to datetime object                                    
        dt = datetime.datetime.strptime(rows["video_publishDate"], "%Y-%m-%dT%H:%M:%SZ")
        # Format the datetime object to match MySQL timestamp format
        dt_formatted = dt.strftime("%Y-%m-%d %H:%M:%S")
        
        # Parse the string value to a timedelta object
        duration = isodate.parse_duration(rows["video_duration"])

        # Convert the timedelta object to a time object
        duration = (datetime.datetime.min + duration).time()

        values = (rows["channel_title"],
                rows["channel_id"],
                rows["video_title"],
                rows["video_id"],
                rows["video_thumnails"],
                dt_formatted,
                duration,
                rows["video_view"],
                rows["video_likes"],
                rows["video_favorite"],
                rows["video_comments"],
                rows["video_captionStatus"]
                )    

        cursor.execute(insert_query,values)
        mydb.commit()

In [84]:
#creating table for comment details
def comments_table():
    mydb = mysql.connect(
            host = "localhost", 
            user = "root",
            password = "mysql",
            database = "youtube_data",
            port = "3306"
        )

    cursor = mydb.cursor()

    drop_query = '''drop table if exists comments'''
    cursor.execute(drop_query)
    mydb.commit()
    #for creating a table named comments
    comment_query ='''create table if not exists comments(comment_id varchar(100) primary key,video_id varchar(70),comment_text text,
                                                            comment_author varchar(100),comment_publishdate timestamp)'''

    cursor.execute(comment_query)               
    mydb.commit()

    cmt_list = []
    db = client["youtube_data"]   
    col1 = db["channel_details"]
    for i in col1.find({},{"_id":0,"comment_information":1}):
        for j in range(len(i["comment_information"])):
            cmt_list.append(i["comment_information"][j])
    df_comment = pd.DataFrame(cmt_list)  

    #inserting the values of dataframe into the comments table
    for index,rows in df_comment.iterrows():
            insert_query = '''insert into comments(comment_id,video_id,comment_text,comment_author,comment_publishdate)
                                                
                                                values(%s,%s,%s,%s,%s)'''

            # Convert the string value to datetime object                                    
            dt = datetime.datetime.strptime(rows["comment_publishdate"], "%Y-%m-%dT%H:%M:%SZ")
            # Format the datetime object to match MySQL timestamp format
            dt_formatted = dt.strftime("%Y-%m-%d %H:%M:%S")

            values = (rows['comment_id'],
                    rows['video_id'],
                    rows['comment_text'],
                    rows['comment_author'],
                    dt_formatted
                    )    

            cursor.execute(insert_query,values)
            mydb.commit()

In [85]:
def tables():
    channels_table()
    playlist_table()
    video_table()
    comments_table()

    return "Table created successfully"

In [15]:
tables_call =tables()

In [16]:
tables_call

'Table created successfully'

In [86]:
#creating a dataframe using streamlit
def show_channel_table():
    ch_list = []
    db = client["youtube_data"]   
    col1 = db["channel_details"]
    for i in col1.find({},{"_id":0,"Channel_information":1}):
        ch_list.append(i["Channel_information"])
    dfst_channel= st.dataframe(ch_list)  

    return dfst_channel

In [21]:
dfst_channel

DeltaGenerator()

In [27]:
#creating streamlit dataframe for playlist table
def show_playlist_table():
    pl_list = []
    db = client["youtube_data"]   
    col1 = db["channel_details"]
    for i in col1.find({},{"_id":0,"playlist_information":1}):
        for j in range(len(i["playlist_information"])):
            pl_list.append(i["playlist_information"][j])
    dfst_playlist = st.dataframe(pl_list)  

    return dfst_playlist

In [28]:
#creating streamlit dataframe for videos table
def show_video_table():
    vd_list = []
    db = client["youtube_data"]   
    col1 = db["channel_details"]
    for i in col1.find({},{"_id":0,"video_information":1}):
        for j in range(len(i["video_information"])):
            vd_list.append(i["video_information"][j])
    dfst_video = st.dataframe(vd_list)  

    return dfst_video

In [29]:
#creating streamlit dataframe for comments table
def show_comment_table(): 
    cmt_list = []
    db = client["youtube_data"]   
    col1 = db["channel_details"]
    for i in col1.find({},{"_id":0,"comment_information":1}):
        for j in range(len(i["comment_information"])):
            cmt_list.append(i["comment_information"][j])
    dfst_comment = st.dataframe(cmt_list)  

    return dfst_comment

In [ ]:
#Streamlit part
st.title(":red[YOUTUBE DATA HARVESTING AND WAREHOUSING USING SQL, MongoDB AND STREAMLIT]")
st.header("Hello!")

channel_id = st.text_input("Enter the Channel ID:")

if st.button("Collect and store the data"):
    ch_ids =[]
    db =client["youtube_data"]
    col1 = db["channel_details"]
    for i in col1.find({},{"_id":0,"Channel_information":1}):
        ch_ids.append(i["Channel_information"]["channel_id"])

    if channel_id in ch_ids:
        st.success("Channel Details of the given channel ID is already exists")      

    else:
        st.success("[IPB]Entering channel details")
        insert = channel_details(channel_id)   
        st.success(insert) 

    if st.button("Push data into MySql"):
        table_creation = tables()
        st.success(table_creation)

    view_table = st.radio("SELECTED THE REQUIRED TABLE",("CHANNELS","PLAYLISTS","VIDEOS","COMMENTS"))  

    if view_table == "CHANNELS":
        show_channel_table()
    elif view_table == "PLAYLISTS":
        show_playlist_table()
    elif view_table == "VIDEOS":
        show_video_table()
    elif view_table == "COMMENTS":
        show_comment_table()

In [30]:
ch_ids =[]
db =client["youtubr_data"]
col1 = db["channel_details"]
for i in col1.find({},{"_id":0,"Channel_information":1}):
    ch_ids.append(i["Channel_information"]["channel_id"])

In [31]:
ch_ids

['UC6RTJC0JgdVn_CCJe23tf6w', 'UCn1O_4_ApzbYwrsUdRoMmOg']

In [74]:
#Question Part
mydb = mysql.connect(
        host = "localhost", 
        user = "root",
        password = "mysql",
        database = "youtube_data",
        port = "3306"
    )

cursor = mydb.cursor()

questions = st.selectbox("Select you question here",("1.What are the names of all videos and its corresponding channels?",
          "2.Which channels have the most number of videos and its count?",
          "3.What are the top most viewed videos and their repective channels",
          "4.How many comments were on each video and what are their corresponding video names",
          "5.Which videos have highest likes and name its corresponding channel names?",
          "6.What is the total number of likes  for each video and what are their corresponding video names?",
          "7.What is the total number of views for each channel,and what are their channel name?",
          "8.What are the names of all the channels that have published videos in the year 2022",
          "9.What is the average duration of all videos in each channel, and what are their channel names?",
          "10.Which videos have the highest number of comments and what are their corresponding channel names?"))

#question 1
mydb = mysql.connect(
            host = "localhost",
            user = "root",
            password = "mysql",
            database = "youtube_data",
            port = "3306",
          #  consume_results = True
        )
cursor = mydb.cursor()
if questions=="1.What are the names of all videos and its corresponding channels?": 
    query1 = '''select video_title as video_name,channel_title as channel_name from videos'''
    cursor.execute(query1)
    t1 = cursor.fetchall()
    mydb.commit()
    df1 =pd.DataFrame(t1,columns=["video name","channel name"])
    st.write(df1)

#Question 2
elif questions=="2.Which channels have the most number of videos and its count?": 
  query2 = '''select channel_title as channel_name, channel_videocount as no_of_videos from channels order by channel_videocount desc'''
  cursor.execute(query2)
  t2 = cursor.fetchall()
  mydb.commit()
  df2 =pd.DataFrame(t2,columns=["channel name","Number of videos"])
  st.write(df2)

#Question 3
elif questions=="3.What are the top most viewed videos and their repective channels": 
  query3 = '''select channel_title as channel_name,video_title as video_name,video_view as view_count from videos 
                where video_view is not null order by video_view desc limit 10 '''
  cursor.execute(query3)
  t3 = cursor.fetchall()
  mydb.commit()
  df3 =pd.DataFrame(t3,columns=["channel name","video name","video views"])
  st.write(df3)      
  
#Question 4
elif questions=="3.What are the top most viewed videos and their repective channels": 
  query4 = '''select video_title as video_name,video_comments as comment_count from videos where video_comments is not null'''
  cursor.execute(query4)
  t4 = cursor.fetchall()
  mydb.commit()
  df4 =pd.DataFrame(t4,columns=["video name","Number of comments"])
  st.write(df4)      

#Question 5
elif questions=="5.Which videos have highest likes and name its corresponding channel names?": 
  query5 = '''select video_title as video_name,video_likes as likes_count from videos where video_likes is not null order by video_likes desc'''
  cursor.execute(query5)
  t5 = cursor.fetchall()
  mydb.commit()
  df5 =pd.DataFrame(t5,columns=["video name","likes count"])
  st.write(df5)  

#Question 6
elif questions=="6.What is the total number of likes  for each video and what are their corresponding video names?": 
  query6 = '''select video_title as video_name,video_likes as likes_count from videos'''
  cursor.execute(query6)
  t6 = cursor.fetchall()
  mydb.commit()
  df6 =pd.DataFrame(t6,columns=["video name","likes count"])
  st.write(df6)  

#Question 7
elif questions=="7.What is the total number of views for each channel,and what are their channel name?": 
  query7 = '''select channel_title as channel_name,channel_viewcount as channel_views from channels'''
  cursor.execute(query7)
  t7 = cursor.fetchall()
  mydb.commit()
  df7 =pd.DataFrame(t7,columns=["channel name","views count"])
  st.write(df7)  
 
#Question 8
elif questions=="8.What are the names of all the channels that have published videos in the year 2022": 
  query8 = '''select channel_title as channel_name,video_title as video_name,video_publishDate as video_releasedate from videos
                        where extract(year from video_publishDate)=2022'''
  cursor.execute(query8)
  t8 = cursor.fetchall()
  mydb.commit()
  df8 =pd.DataFrame(t8,columns=["channel name","video name","video published date"])
  st.write(df8)  

#Question 9
elif questions=="9.What is the average duration of all videos in each channel, and what are their channel names?": 
  query9 = '''select channel_title as channel_name,AVG(video_duration) as average_duration from videos group by channel_title'''
  cursor.execute(query9)
  t9 = cursor.fetchall()
  mydb.commit()
  df9 =pd.DataFrame(t9,columns=["channel name","average duration"])
  st.write(df9)

#Question 10
elif questions=="10.Which videos have the highest number of comments and what are their corresponding channel names?": 
  query10 = '''select channel_title as channel_name,video_title as video_name,video_comments as comments_count from videos
                        where video_comments is not null order by video_comments desc'''
  cursor.execute(query10)
  t10 = cursor.fetchall()
  mydb.commit()
  df10 =pd.DataFrame(t10,columns=["channel name","video name","Numbers of comments"])
  #df10
  st.write(df10)

In [64]:
#question 7
mydb = mysql.connect(
            host = "localhost",
            user = "root",
            password = "mysql",
            database = "youtube_data",
            port = "3306",
          #  consume_results = True
        )
cursor = mydb.cursor()
if questions=="7.What is the total number of views for each channel,and what are their channel name?": 
  query7 = '''select channel_title as channel_name,channel_viewcount as channel_views from channels'''
  cursor.execute(query7)
  t7 = cursor.fetchall()
  mydb.commit()
  df7 =pd.DataFrame(t7,columns=["channel name","views count"])
  st.write(df7)

In [67]:
#question 8
mydb = mysql.connect(
            host = "localhost",
            user = "root",
            password = "mysql",
            database = "youtube_data",
            port = "3306",
          #  consume_results = True
        )
cursor = mydb.cursor()
if questions=="8.What are the names of all the channels that have published videos in the year 2022": 
  query8 = '''select channel_title as channel_name,video_title as video_name,video_publishDate as video_releasedate from videos
                        where extract(year from video_publishDate)=2022'''
  cursor.execute(query8)
  t8 = cursor.fetchall()
  mydb.commit()
  df8 =pd.DataFrame(t8,columns=["channel name","video name","video published date"])
  st.write(df8)

In [72]:
#question 9
mydb = mysql.connect(
            host = "localhost",
            user = "root",
            password = "mysql",
            database = "youtube_data",
            port = "3306",
          #  consume_results = True
        )
cursor = mydb.cursor()
if questions=="9.What is the average duration of all videos in each channel, and what are their channel names?": 
  query9 = '''select channel_title as channel_name,AVG(video_duration) as average_duration from videos group by channel_title'''
  cursor.execute(query9)
  t9 = cursor.fetchall()
  mydb.commit()
  df9 =pd.DataFrame(t9,columns=["channel name","average duration"])
  #df9
  st.write(df9)

In [73]:
mydb = mysql.connect(
            host = "localhost",
            user = "root",
            password = "mysql",
            database = "youtube_data",
            port = "3306",
          #  consume_results = True
        )
cursor = mydb.cursor()
if questions=="10.Which videos have the highest number of comments and what are their corresponding channel names?": 
  query10 = '''select channel_title as channel_name,video_title as video_name,video_comments as comments_count from videos
                        where video_comments is not null order by video_comments desc'''
  cursor.execute(query10)
  t10 = cursor.fetchall()
  mydb.commit()
  df10 =pd.DataFrame(t10,columns=["channel name","video name","Numbers of comments"])
  #df10
  st.write(df10)

,channel name,video name,Numbers of comments
0,bigboxSWE,Stop Studying Programming,1558
1,techTFQ,SQL Window Function | How to write SQL Query u...,1238
2,bigboxSWE,How To Replace Video Games With Coding,1094
3,techTFQ,Learn how to write SQL Queries(Practice Comple...,1056
4,techTFQ,How to get your 1st DATA ANALYST Job | Data An...,1042
...,...,...,...
285,bomaniac,The BEST communication tip I know of #communic...,0
286,bomaniac,Amazing book: Dotcom secrets #sales #marketing...,0
287,bomaniac,I was not interested in relationships #relatio...,0
288,bomaniac,The number one best topic for a speech #selfim...,0
289,bomaniac,Get a weighted sleeping mask!,0